article a {
    text-decoration: none;
   
    transition: color 0.3s;
  }
  
  .carrito {
    color: #fff;
    width: 80px;
    height: 30px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #ff8000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .carrito:hover {
    background-color: #ff9900;
    color: #000;
  }
  
  article p {
    font-size: 1rem;
    text-align: start;
    color: #555;
    line-height: 1.5;
    margin-top: 10px;
  }
  
  article p span {
    font-weight: bold;
  }
  
  article p.quantity {
    color: #000;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
  }